.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1 {
  stroke-width: 1.66px;
}

.cls-2 {
  stroke-width: 1.66px;
}

.cls-3 {
  stroke-width: 1.8px;
}
