@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Heebo:wght@100;200;300;400;500&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #d70018;
  --default-layout-width: 115rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
