.wrapper {
  display: flex;
  align-items: center;
}

.cart-price {
  flex: 1;
  align-items: flex-end;
  margin-bottom: 0;
  margin-left: 300px;
}

.cart-img {
  width: 50%;
}

button {
  display: inline-block;
  padding: 0.5px 10px;
  margin: 20px;
}

input {
  width: 50px;
}
