.product-image {
  width: 100%;
}
.product-name {
  margin-bottom: 0;
}

.product-btn {
  background-color: #ff4d4f;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}
